<h2>Utenti </h2>
<ul class="banche">
  <li><button (click)="getUtentiByBancaId()">Mostra Utenti</button></li>
  <li><button (click)="getUtentiBloccatiByBancaId()">Mostra Utenti Bloccati</button></li>
  <li><button (click)="cancellaLista()">Pulisci</button></li>
</ul>

<br><br>
<div>
  Nome Utente:  ---------------    Password:  -----------------  <br>
  <input type="text" [(ngModel)]="nomeUtenteToAdd">
  <input type="text" [(ngModel)]="passwordToAdd">
  <button (click)="addUtente()">Aggiungi utente</button>
</div>

 
   <br><br>
 
<div>
  ------- Id: -------------------------   Nome Utente:  ----------------     Password:  -----------------    Bloccato:
  <li *ngFor="let utente of utenti">
    <!-- <a routerLink="/detail/{{banca.id}}"> -->
    <input type="text" [(ngModel)] = "utente.id" readonly>
    <input type="text" [(ngModel)] = "utente.nomeUtente">  
    <input type="text" [(ngModel)] = "utente.password">  
    <input type="checkbox"  [checked]  = "utente.bloccato" [(ngModel)] = "utente.bloccato" >
    <button (click)="aggiornaUtenti(utente)">Salva Modifiche</button>

    
  </li>
</div>
 
  

  
   
    <!-- <button (click)="getUtentiByBancaId()">MostraUtenti</button>
    <button (click)="getUtentiBloccatiByBancaId()">MostraUtentiBLoccati</button> -->
  

